*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #141922;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header{
    width: calc(100vw - 250px);
    margin-left: 250px;
    height: 100px;
    background-color: #2828286b;
    z-index: 30;
    position: fixed;
}


.main-container{
    width: calc(100% - 250px);
    height: 1200px;
    background-color: #141922;
    margin-left: 250px;
    padding-top: 120px;
}

#upgrade{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 30px;
    padding: 15px;
    position: absolute;
    top: 25px;
    right: 30px;
    width: 280px;
    text-align: center;
}

/* SONGS SECTION */

.selection{
    max-width: 800px;
    background-color: yellow;
    margin: 0 auto;
}

.row{
    display: flex;
    justify-content: space-between;
}

.col-sel{
    background-color: red;
    height: 20px;
    width: calc(100% /5 - 20px);
    margin: 10px;
    padding: 15px;
}

/* RECENTLY PLAYED SONGS */

h3{
    color: white;
    font-size: 40px;
}
p{
    color: grey;
}
.container-recently{
    width: 100%;
    padding: 25px;
}

.col-square{
    width: calc(100% / 6 - 20px);
    margin: 10px;
    height: 200px;
    background-color: purple;
}

.container-release{
    width: 36%;
    padding: 25px;
}
.col-two{
    width: calc(100% / 2 - 20px);
    margin: 10px;
    height: 200px;
    background-color: royalblue;
}

.col-circle{
    border-radius: 50%;
    width: calc(100% / 2 - 20px);
    margin: 10px;
    height: 200px;
    background-color: royalblue;
}

/* END SONGS SECTION */

/* NAVBAR SECTION */
.nav-container{
    width: 250px;
    height: 1200px;
    background-color: lightgreen;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 50;
}

.row-nav{
    display: flex;
    flex-direction: column;
}

.col-nav{
    width: calc(100% / 2 - 20px);
    margin: 10px;
    height: 100px;
    background-color: rgb(0, 26, 255); 
}

.nav-content{
    width: 180px;
    margin-left: 15px;
    padding: 7px;
    margin-top: 5px;
}

.logo{
    height: 93px;
}


/* USER */

#user{
    position: absolute;
    bottom: 120px;
}

.line-top{
    margin-bottom: 2px;
    margin-left: 15px;
    padding: 7px;

}

#fatop{
    font-size: 15px;
}

.line-down{
    margin-top: 2px;
    margin-left: 15px;
    padding: 7px;

}

#fadown{
    font-size: 28px;
}

hr{
    width: 200px;
    margin-left: 20px;
}
/* FOOTER */
footer{
    position: relative;
}

.bottom-container{
    width: 100%;
    background-color: #282828;
    height: 100px;
    z-index: 60;
    position: fixed;
    bottom: 0px;
}

.row-foot{
    display: flex;
}

.col-foot{
    width: calc(100% / 3 - 20px);
    margin: 10px;
    height: 100px;
    background-color: rgb(0, 255, 76);
}

.fa-solid{
    font-size: 30px;
}

.fa-sharp{
    font-size: 40px;
}

a{
    text-decoration: none;
    color: #585858;
}

ul, li{
    list-style-type: none;
    line-height: 30px;
}

/* MEDIA QUERY */