*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #141922;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* LAYOUT */

main{
    background-color: rgb(240, 24, 24);
    width: 100vw;
    height: calc(100vh - 100px);
    display: flex;
}


.sidebar{
    width: 150px;
    height: 100%;
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-sidebar{
    width: 100%;
    height: 400px;
    background-color: yellow;
}

.bottom-sidebar{
    width: 100%;
    height: 200px;
    background-color: rgb(255, 0, 140);
}

.main-content{
    width: calc(100% - 150px);
    height: 100%;
    background-color: grey;
    padding-top: 125px;
}

.top-bar{
    width: calc(100% - 150px);
    margin-left: 150px;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.content{
    overflow-y: auto;
    height: 100%;
}

.bottom-bar{
    width: 100%;
    height: 100px;
    background-color: blue;
}

/* END LAYOUT */

/* SIDE BAR SECTION */

.logo-section, .icon-section, .playlist-section{
    width: 100%;
    margin: 10px 10px 10px 10px;
}

.logo-section{
    padding-top: 20px;
}

.icon-content, .playlist-content{
    width: 180px;
    padding: 7px;
    margin-top: 5px;
}

a{
    text-decoration: none;
    color: #585858;
}

#logo{
    height: 40px;
}

ul, li{
    list-style-type: none;
    line-height: 30px;
    overflow-y: auto;
}

.bottom-sidebar{
    position: relative;
    bottom: 0;
}

.line-top{
    margin-bottom: 2px;
    padding: 7px;

}

#fatop{
    font-size: 15px;
}

.line-down{
    margin-top: 2px;
    padding: 7px;

}

#fadown{
    font-size: 28px;
}

hr{
    width: 135px;
    margin-left: 5px;
}


/* END SIDE BAR SECTION */


/* TOP BAR SECTION */

#upgrade{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 30px;
    padding: 15px;
    position: absolute;
    top: 25px;
    right: 30px;
    width: 280px;
    text-align: center;
    font-size: 15px;
}

/* END TOP BAR SECTION */


/* SONGS SECTION */

.container-selection{
    max-width: 800px;
    background-color: yellow;
    margin: 0 auto;
}

.row{
    display: flex;
}

.col-sel{
    background-color: red;
    height: 20px;
    width: calc(100% /5 - 20px);
    margin: 10px;
    padding: 15px;
}

/* END SONGS SECTION */


/* RECENTLY PLAYED SONGS */

h3{
    color: white;
    font-size: 40px;
}
p{
    color: grey;
}
.container{
    width: 100%;
    padding: 25px;
}

.col-square{
    width: calc(100% / 6 - 20px);
    margin: 10px;
    height: 200px;
    background-color: purple;
}

/* END RECENTLY PLAYED SONGS */


/* CREATO PER JHON DOE */


.col-two{
    width: calc(33% / 2 - 20px);
    margin: 10px;
    height: 200px;
    background-color: royalblue;
}

/* END CREATO PER JHON DOE */


/* ARTISTI */

.col-circle{
    border-radius: 50%;
    width: calc(33% / 2 - 20px);
    margin: 10px;
    height: 200px;
    background-color: royalblue;
}

/* END ARTISTI */


/* END SONGS SECTION */

