*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #141922;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* LAYOUT */

main{
    background-color: rgb(0, 0, 0);
    width: 100vw;
    height: calc(100vh - 100px);
    display: flex;
}

h4{
    font-size: 35px;
    color: white;
}


.sidebar{
    width: 150px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sidebar-short{
    width: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: none;
}
.top-sidebar{
    width: 100%;
    /* height: 400px; */
}

.bottom-sidebar{
    width: 100%;
    /* height: 200px; */
}

.main-content{
    width: calc(100% - 150px);
    height: 100%;
    background-color: #141922;
    padding-top: 125px;
}

.title-text{
    padding-bottom: 30px;
    padding-top: 30px;
}

.top-bar{
    width: calc(100% - 150px);
    margin-left: 150px;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.content{
    overflow-y: auto;
    height: 100%;
}

.bottom-bar{
    width: 100%;
    background-color: #282828;
    position: fixed;
    z-index: 50;
}

/* END LAYOUT */

/* SIDE BAR SECTION */

.logo-section, .icon-section, .playlist-section{
    width: 100%;
    margin: 10px 10px 10px 10px;
}

.logo-section{
    padding-top: 20px;
}

.icon-content, .playlist-content{
    padding: 7px;
    margin-top: 5px;
    color: grey;
}


a{
    text-decoration: none;
    color: #585858;
}

#logo{
    height: 40px;
}


ul, li{
    list-style-type: none;
    line-height: 30px;
    overflow-y: auto;
}

.bottom-sidebar{
    position: relative;
    bottom: 0;
}

.line-top{
    margin-bottom: 2px;
    padding: 7px;

}

.fatop{
    font-size: 15px;
}

.line-down{
    margin-top: 2px;
    padding: 7px;

}

.fadown{
    font-size: 28px;
}

hr{
    width: 135px;
    margin-left: 5px;
}



/* END SIDE BAR SECTION */


/* TOP BAR SECTION */

#upgrade{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 30px;
    padding: 15px;
    position: absolute;
    top: 25px;
    right: 30px;
    width: 280px;
    text-align: center;
    font-size: 15px;
}

/* END TOP BAR SECTION */


/* SONGS SECTION */

.container-selection{
    max-width: 700px;
    margin: 0 auto;
}

.row{
    display: flex;
}

/* .around{
    justify-content: space-around;
} */

.between{
    justify-content: space-between;
}

.col-sel{
    padding-left: 20px;
    
}

.text-content{
    color: grey;
}

/* END SONGS SECTION */


/* RECENTLY PLAYED SONGS */

h3{
    color: white;
    font-size: 40px;
}
p{
    color: grey;
}
.container{
    width: 100%;
    padding: 25px;
}

.col-square{
    width: calc(100% / 6 - 20px);
    margin: 10px;
}

.album{
    width: 100%;
}

.circle{
    border-radius: 50%;
}

/* END RECENTLY PLAYED SONGS */


/* CREATO PER JHON DOE */


.col-two, .col-circle{
    width: calc(33% / 2 - 20px);
    margin: 10px;
    height: 200px;
}

/* END CREATO PER JHON DOE */


/* ARTISTI */

.col-circle{
    border-radius: 50%;
}

/* END ARTISTI */


/* END SONGS SECTION */

/* BOTTOM BAR */


/* END BOTTOM BAR */
.row-foot{
    display: flex;
    justify-content: space-between;
}

.col-foot-middle{
    width: calc(60% - 20px);
    margin: 10px;
    height: 100px;
}

.col-foot-left{
    width: calc(20% - 20px);
    margin: 10px;
    height: 100px;
}

.col-foot-right{
    width: calc(20% - 20px);
    margin: 10px;
    height: 100px;

}

#sinister-small{
    width: 60px;
}


.icon-right{
    padding: 35px 0px;
}

.flexend{
    justify-content: flex-end;
}

.line{
    border-top: 4px solid gray;
    width: 100%;
    position: relative;
    bottom: -40px;
}

.line-white{
    border-top: 4px solid white;
    width: 20%;
    position: absolute;
    bottom: 0px;
    left: 0;
}

.line-middle{
    border-top: 4px solid gray;
    width: 70%;
    margin: 0% 5%;
}

.line-white-middle{
    border-top: 4px solid white;
    width: 20%;
    position: relative;
    bottom: 4px;
    left: 0;
}



.col-timeline-left{
    padding: 18px 9px;
}

.paddingleft{
    padding-left: 5%;
    font-size: 1.5vw;
}

.column{
    flex-direction: column;
    margin: 0 auto;
}

.col-timeline-middle{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    
}

.align-self{
    align-self: center;  
}


#timeline-center{
    width: 100%;
    height: 2px;
    background-color: red;
    display: inline-block;
}

.col-timeline-right{
    margin: 0 2%;
    text-align: center;
    color: white;
    font-size: 1vw;
}

.col-timeline-right:last-child{
    flex-grow: 1;
    position: relative;
}

.seconds{
    color: white;
}

/* MEDIA QUERY */


/* TABLET */

@media screen and (max-width: 878px) {

    .container-selection {
        max-width: 600px;
    }


    .center{
        justify-content: center;
    }

    .container{
        width: 100%;
        padding: 25px;
    }

    /* .space{
        justify-content: space-around;
    } */
    .wrap{
        flex-wrap: wrap;
    }
    .col-square{
        width: calc(100% / 4 - 20px);
        margin: 10px;
    }

    .col-two, .col-circle{
        width: calc(50% / 2 - 20px);
        margin: 10px;
        height: 200px;
    }

    .col-circle{
        border-radius: 50%;

    }

    /* BOTTOM */

    
    .col-foot-middle{
        width: calc(40% - 20px);
        margin: 10px;
        height: 100px;
    }
    
    .col-foot-left{
        width: calc(30% - 20px);
        margin: 10px;
        height: 100px;
    }
    
    .col-foot-right{
        width: calc(30% - 20px);
        margin: 10px;
        height: 100px;
    
    }
    
    #sinister-small{
        width: 50px;
    }
    
    
    
   
    
    .paddingleft{
        padding-left: 5%;
        font-size: 2vw;
    }
    
    
  
 
    
    
    .col-timeline-right{
        margin: 0 2%;
        text-align: center;
        color: white;
        font-size: 2vw;
    }
    
    .col-timeline-right:last-child{
        flex-grow: 1;
        position: relative;
    }

}



/* PHONE S */

@media screen and (max-width: 639px) {
    .container-selection {
        max-width: 400px;
    }



    .col-sel{
        /* background-color: red;
        height: 20px;
        width: calc(100% /3 - 20px);
        margin: 10px; */
        padding: 15px;
    }
    .container{
        width: 100%;
        padding: 25px;
    }

    .space{
        justify-content: flex-start;
    }
    .wrap{
        flex-wrap: wrap;
    }
    .col-square{
        width: calc(100% / 2 - 20px);
        margin: 10px;
    }

    .col-two, .col-circle{
        width: calc(100% / 2 - 20px);
        margin: 10px;
        height: 200px;
    }

    .col-circle{
        border-radius: 50%;

    }

    /* BOTTOM */


    .col-foot-middle{
        width: calc(40% - 20px);
        margin: 10px;
        height: 100px;
    }
    
    .col-foot-left{
        width: calc(30% - 20px);
        margin: 10px;
        height: 100px;
    }
    
    .col-foot-right{
        width: calc(30% - 20px);
        margin: 10px;
        height: 100px;
    
    }
    
    #sinister-small{
        width: 50px;
    }
    
    
    
    
    
    .paddingleft{
        padding-left: 5%;
        font-size: 3vw;
    }
    
    
    
    
    
    
    .col-timeline-right{
        margin: 0 2%;
        text-align: center;
        color: white;
        font-size: 2vw;
    }
    
    
    .seconds{
        font-size: 9px;
    }
    
    
    
}


/* PHONE XS*/
@media screen and (max-width: 550px) {
    .container-selection {
        max-width: 400px;
    }

    
    .col-sel{
        /* background-color: red;
        height: 20px;
        width: calc(100% /4 - 20px);
        margin: 10px; */
        padding: 5px;
    }

    .sidebar{
        display: none;
    }


    .sidebar-short{
        width: 50px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .main-content{
        width: calc(100% - 50px);
        height: 100%;
        padding-top: 125px;
    }

    .top-bar{
        width: calc(100% - 50px);
        margin-left: 50px;
        height: 100px;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.3);
    }

    .top-sidebar-short{
        width: 100%;
        height: 85%;
    }

    .bottom-sidebar-short{
        width: 100%;
        height: 15%;
        position: relative;
        bottom: 0;
    }

    .line-top{
        padding-top: 10px;
        margin-left: 10px;

    }

    /* #fatop{
        font-size: 15px;
    } */

    .line-down{
        padding-top: 6px;
        margin-left: 10px;

    }

    /* #fadown{
        font-size: 28px;
    } */


    .icon-short{
       padding-top: 15px;
       padding-left: 13px;
    }

    #logo-short{
        width: 30px;
    }

    .fa-magnifying-glass{
        padding-left: 3px;
    }
    .fa-book{
        padding-left: 5px;
    }





    .col-foot-middle{
        width: calc(35% - 20px);
        margin: 10px;
        height: 100px;
    }
    
    .col-foot-left{
        width: calc(30% - 20px);
        margin: 10px;
        height: 100px;
    }
    
    .col-foot-right{
        width: calc(30% - 20px);
        margin: 10px;
        height: 100px;
    
    }
    
    #sinister-small{
        width: 40px;
    }
    
    
    
    
    
    .paddingleft{
        padding-left: 5%;
        font-size: 4.5vw;
    }
    
    
    
    
    
    
    .col-timeline-right{
        margin: 0 2%;
        text-align: center;
        color: white;
        font-size: 3vw;
    }


}
